@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap');

* {
	margin : 0;
	padding : 0;
	box-sizing: border-box;
}



.login{
	width: 400px;
	height: 330px;
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login >fieldset> h1 {
	font-family: "Nanum Brush Script", cursive;
	font-weight: 500;
  font-style: normal;
	font-size:40px;
}
.login > fieldset {
	width: 400px;
	height: 330px;
	border: 1px solid #ccc;
	background-color: #fff;
}
.login > fieldset > h1 {
	text-align: center;
	margin: 20px 0px;
}
.login > fieldset > ul {
	list-style-type: none;
}
.login > fieldset > ul > li {
	text-align: center;
	margin-bottom: 20px;
}
.login > fieldset > ul > li

.id {
	width: 300px;
	height:25px;
	padding:5px;
}

.password{
	width: 300px;
	height:25px;
	padding:5px;
	margin-bottom: 20px;
}
.login > fieldset > div {
	text-align: center;
	margin-bottom: 10px; /* 로그인 버튼과 아래 링크 사이의 간격 추가 */
}

.loginButton {
	display :inline-block;
	width: 310px;
	height:25px;
	border-radius: 10px;
	background-color:#DBE7C8;
	margin-bottom: 5px;
}

.login > fieldset >ul:last-of-type > li{
	maring:20px;
}

.login > fieldset > ul > li > a {
	font-size: 15px;
	text-decoration: none;
	color : black;
}

.login > fieldset > ul > li > span {
	font-size:10px;
}




