@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap');

* {
	margin : 0;
	padding : 0;
	box-sizing: border-box;
}
body {
  background-color: #F5F6F3;
}
/* .container {
  width: 400px;
  height: 450px;
  position:absolute; 
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
} */
.container {
  width: 400px;
  height: 520px;
  position:absolute; 
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align:center;  
}
.container > fieldset {
  width: 400px;
  height:420px;
  background-color: white;
} 
.container > fieldset > h1 {
  font-family: "Nanum Brush Script", cursive;
  margin-top:20px;
}
.container > fieldset:last-child {
  margin-top:20px;
  width:400px;
  height: 50px;
  line-height: 50px;
}
.container > fieldset > ul {
  list-style-type: none;
}
.container >  fieldset > ul > li {
  margin: 5px 0px;
}
.container >  fieldset > ul > li > input {
  width: 300px;
  height:30px;
  padding: 5px;
  margin:10px 0px;
}
.passwordError {
  color: red;
  font-size: 13px;
  margin-top: -10px; /* 메시지가 input 태그에 더 가까워지도록 조정 */
  display: block; /* 메시지를 블록 요소로 설정해서 줄바꿈 적용 */
}
.container >  fieldset > button {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  background-color:#DBE7C8;
  margin-top : 8px;
} 
.container >  fieldset > ul > li:last-child > input {
  width: 100px;
}
.container >  fieldset > p > a {
  text-decoration: none;
  color:green;
}